<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzl.csdn.mapper.CsdnAlarmIncivilizationMapper">
    <select id="getAlarmCount" resultType="java.lang.Integer">
        SELECT IFNULL(sum(count), 0)
        FROM csdn_alarm_incivilization
    </select>

    <select id="quryListTop" resultType="com.xzl.csdn.domain.vo.BoardStatisticsVO">
        SELECT location_name name, sum(count) code
        FROM `csdn_alarm_incivilization`
        WHERE alarm_type in
        <foreach collection="query.alarmTypeList" separator="," item="item" open="(" close=")">
            #{item}
        </foreach>
        GROUP BY location_name
        ORDER BY code desc
        LIMIT 5;
    </select>

    <select id="queryHinderLiftCount" resultType="java.lang.Integer">
        select sum(count)
        from csdn_alarm_incivilization where 1=1
        <if test="query.startTime1 != null">
            and create_time >= #{query.startTime1,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime1 != null">
            and create_time &lt;= #{query.endTime1,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getHinderLiftList" resultType="com.xzl.csdn.domain.vo.BoardStatisticsVO">
        SELECT DATE_FORMAT(create_time, '%Y-%m-%d') name, sum(count) code
        FROM csdn_alarm_incivilization
        where 1=1
        <if test="query.startTime1 != null and query.startTime1 !=''">
            and create_time >= #{query.startTime1,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime1 != null and query.endTime1 !=''">
            and create_time &lt;= #{query.endTime1,jdbcType=VARCHAR}
        </if>
        GROUP BY name;
    </select>

    <select id="queryListByType" resultType="com.xzl.csdn.domain.vo.BoardStatisticsVO">
        SELECT alarm_type name, sum(count) code
        FROM `csdn_alarm_incivilization`
        WHERE 1=1
        <if test="query.alarmTypeList != null and query.alarmTypeList.size > 0">
            and alarm_type in
            <foreach collection="query.alarmTypeList" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.startTime1 != null and query.startTime1 !=''">
            and create_time >= #{query.startTime1,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime1 != null and query.endTime1 !=''">
            and create_time &lt;= #{query.endTime1,jdbcType=VARCHAR}
        </if>
        GROUP BY alarm_type
    </select>

    <select id="getHinderLiftInfoList" resultType="com.xzl.csdn.domain.vo.MalfunctionFromVO">
        SELECT
        register_code deviceNo,
        location_name locationName,
        sum(count) alarmCount
        FROM csdn_alarm_incivilization
        WHERE 1=1
        <if test="query.registerCodeList != null and query.registerCodeList.size > 0">
            and register_code in
            <foreach collection="query.registerCodeList" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY register_code
        ORDER BY alarmCount desc
        limit 10;
    </select>

</mapper>
