<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzl.csdn.mapper.CsdnLiftStatisticsMapper">
    <select id="selectListStatistics" resultType="com.xzl.csdn.domain.vo.BoardStatisticsVO">
        SELECT DATE_FORMAT(statistics_time, '%c月') name, SUM(count) code
        FROM `csdn_lift_statistics`
        WHERE statistics_time
            >= #{query.startTime1,jdbcType=VARCHAR}
          AND statistics_time &lt;= #{query.endTime1,jdbcType=VARCHAR}
          AND type = #{query.type,jdbcType=INTEGER}
        GROUP BY statistics_time
    </select>

    <select id="getRunInfoList" resultType="com.xzl.csdn.domain.vo.MalfunctionFromVO">
        SELECT register_code deviceNo,
        location_name locationName,
        location_type locationType,
        inner_no innerNo,
        maintenance_unit_name maintenanceUnitName,
        use_unit_name useUnitName,
        count alarmCount
        FROM csdn_lift_statistics
        WHERE type = 1
        <if test="query.startTime1 != null">
            and statistics_time >= #{query.startTime1,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime1 != null">
            and statistics_time &lt;= #{query.endTime1,jdbcType=VARCHAR}
        </if>
        ORDER BY count desc
        LIMIT 10
    </select>

    <select id="queryUseTimesCount" resultType="java.lang.Integer">
        select sum(count) from csdn_lift_statistics where 1=1
        <if test="query.startTime1 != null">
            and statistics_time >= #{query.startTime1,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime1 != null">
            and statistics_time &lt;= #{query.endTime1,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select ifnull(sum(count), 0)
        from csdn_lift_statistics
        where type = #{query.type,jdbcType=INTEGER}
        <if test="query.streetCode != null and query.streetCode != ''">
            AND street_code = #{query.streetCode}
        </if>
        <if test="query.locationType != null and query.locationType != ''">
            AND location_type = #{query.locationType,jdbcType=VARCHAR}
        </if>
        <if test="query.startTime != null">
            AND made_time >= #{query.startTime,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime != null">
            AND made_time &lt;= #{query.endTime,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="querySyncCount" resultType="java.lang.Integer">
        select ifnull(sum(count), 0)
        from csdn_lift_statistics
        where type = #{query.type,jdbcType=INTEGER}
        <if test="query.streetCode != null and query.streetCode != ''">
            AND street_code = #{query.streetCode}
        </if>
        <if test="query.locationType != null and query.locationType != ''">
            AND location_type = #{query.locationType,jdbcType=VARCHAR}
        </if>
        <if test="query.startTime != null">
            AND statistics_time >= #{query.startTime,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime != null">
            AND statistics_time &lt;= #{query.endTime,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
